

<div id="main">
          <div class="container">
                <div class="row">

                    <!-- About Me (Left Sidebar) Start -->
                    <div class="col-md-3">
                        <div class="about-fixed">                    
                            <div class="my-pic">
                                <img src="images/pattern3.jpg" alt="">                        
                                <div>
                                    <ul class="menu-link">
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/work">Work</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>                 
                            <div class="my-detail">                     
                                  <div class="white-spacing">
                                      <h1>Suraj Sharma</h1>
                                      <span>Web Developer</span>
                                  </div>                        
                                  <ul class="social-icon">
                                     <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                     <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                     <li><a href="#" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                     <li><a href="#" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                    <!-- About Me (Left Sidebar) End -->
                
                
                
                
                 
                   <!-- Post (Right Sidebar) Start -->
                   <div class="col-md-9">
                        <div class="col-md-12 page-body">
                            <div class="row">                                                      
                                    <div class="sub-title">
                                           

                                    
                                    <form action="/questions" method="POST">

                                        <div class="form-group" style="float:right; ">
                                              <button id="but" type="submit" >Create</button>
                                        </div>
                                        <div class="form-group">                                        
                                              <input type="text"  name="text" class="form-control" style="width: 80%; height:100%">
                                              <h3 style="font-family: Satisfy, cursive;"> Any queries ?</h3>
                                        </div>
                                    </form>

                                </div>
                                                                                   




                                    <div class="col-md-12 content-page">
<% for (var ques of questions) { %>

                                        <!-- Question-post Start -->
                                        <div class="col-md-12 blog-post">
                                          <hr style="height:10px; border:0; box-shadow:0 10px 10px -10px #8c8b8b inset;">
  
                                            <div class="post-title">
                                                     <span>
                                                        
                                                     <a href="/questions/<%= ques._id %>/del" style="float:right;"><i class="material-icons md-36">delete_forever</i></a>
                                                     <h1><%= ques.text %> ?</h1>
                                                     </span>
                                                     
                                            </div> 

                                            <div class="post-info">
                                                    <span>
                                                        <%= ques.createdAt %> / by <a href="#" target="_blank">Suraj Sharma</a> 
                                                        
                                                    </span>
                                            </div>  

                                            <% var count=1;for (var ans of ques.answers) { %>
                                                    <div>
                                                        <a style="float:right;"><%= ans.votes %></a>

                                                        <a href="/questions/<%= ques._id %>/answers/<%= ans._id %>/vote-up" style="float:right;" ><i class="material-icons">thumb_up</i>  .</a>
      
                                                       <p><%= count %> . <span><%= ans.text %></span> </p>
                                                    </div>
                                                    <%count=1+count %>
                                                    <hr class="style14">
                                             <% } %>
                                            <a href="/questions/<%= ques._id %>" class="button button-style button-anim fa fa-long-arrow-right"><span style="font-size:20px;">Write an answer</span></a>
                                        </div>
                                        
                                        <!-- Question Post End -->
<% } %>




                                        <!-- load more post -->  
                                        <div class="col-md-12 text-center">
                                                         <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Load</a>
                                                         <div id="post-end-message"></div>
                                        </div>                                  
                                </div>                                
                            </div>

                            

                             <!-- Footer Start -->
                            <div class="col-md-12 page-body margin-top-50 footer">
                                  <footer>
                                      <ul class="menu-link">
                                           <li><a href="/">Home</a></li>
                                           <li><a href="/about">About</a></li>
                                           <li><a href="/work">Work</a></li>
                                           <li><a href="/contact">Contact</a></li>
                                      </ul>                                         
                                      <p>© Copyright 2017 Quessiah. All rights reserved</p>
                                                  <!-- Quessiah Credit Start -->
                                      <div class="quessiah-credit">
                                        Developed and Design By 
                                        <a href="http://www.quessiah.com" target="_blank">Suraj Sharma</a>
                                    </div>
                                      <!-- Quessiah Credit End -->
 
                                  </footer>
                            </div>
                            <!-- Footer End -->
                        </div>
                    </div>
                    <!-- Post (Right Sidebar) End -->

                
            </div>
         </div>
      </div>
