<div class="panel panel-default" style="position:relative; top:80px;">
  <div class="panel-heading"><h1 style="font-family: Satisfy, cursive;"><%= quest.text %></h1></td></div>
  <div class="panel-body">
	  <form action="/questions/<%= quest._id %>/answers" method="POST">
	        <div class="form-group">
	            <label><h2 style="font-family: Satisfy, cursive;">give an answer</h2></label>
	            <input type="text" name="text" class="form-control">
	        </div>
	        <div class="form-group">
	            <button type="submit" id="but" class="btn btn-success btn-lg">Create</button>
	        </div>
	  </form>
  </div>
  
  <% for (var ans of quest.answers) { %>
	  <div class="panel-body">

	  		<a href="/questions/<%= quest._id %>/answers/<%= ans._id %>/del" class="del" style="float:right;">
	    	<i class="material-icons md-36" >delete_forever</i>
	    </a>
		    <div class="currenttext">

		    		
				    <h3 style="font-family: Satisfy, cursive;"> <%= ans.text %> </h3>

		    </div>
		    <div class="inputtext"> 


				<form action="/questions/<%= quest._id %>/answers/<%= ans._id %>" method="POST">
					        <div class="form-group">
					            <input type="text" name="text" class="form-control" placeholder="<%= ans.text %>">
					        </div>
					            <button type="submit" class="btn btn-sm btn-primary">Save</button>
					        
				</form>
		    </div>

		    
                                                     
	    <a class="edit"><i class="material-icons">edit</i></a>
	    
	  </div>
	  <hr style="height:10px; border:0; box-shadow:0 10px 10px -10px #8c8b8b inset;">
  
  <% } %>
</div>














